<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <h1>VMmate</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div class="container py-3">
  <div class="row my-3">
    <div class="card">
      <div class="card-body row">
        <div class="col-6">
          <div class="title">Divisione</div>
          <h4 class="user">SVI-DAPI</h4>
        </div>
        <div class="col-6 text-end">
          Benvenuto <span class="user">Mario Rossi</span>
          <i class="bi bi-person-circle"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-3">
    <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
      @for (env of ['svil', 'coll']; track env; let idx = $index) {
      <li [ngbNavItem]="idx + 1">
        <button ngbNavLink>{{ env == 'svil' ? 'SVILUPPO' : 'COLLAUDO' }}</button>
        <ng-template ngbNavContent>
          @for (srv of getAllServices(env); track srv) {
            <div class="card mt-3">
              <div class="row text-center">
                <div class="col-2 service-name">
                  {{ srv }}
                </div>
                <div class="col-10">
                  <div class="card-body">
                    @for (vm of filteredVms(srv, env); track vm.name) {
                      <app-vm [vm]="vm"></app-vm>
                      } @empty {
                      <div>No items to display</div>
                      }
                  </div>
                </div>
              </div>
            </div>
          }
        </ng-template>
      </li>
      }
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</div>